<h1>Recipes#show</h1>
<p>Find me in recipes#show</p>

<h1><%= @recipe.name %></h1>

<div class="block">
  <div>
    <p>preparation_time: <%= @recipe.preparation_time %> secs</p>
    <p>cooking_time: <%= @recipe.cooking_time %> secs</p>
    <p>steps: <%= @recipe.description %></p>
  </div>

  <div>public:
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div class="block">
  <%=link_to "Generate shopping list", shopping_list_path %>
  <%=link_to "Add Ingredient", new_recipe_food_path %>
</div>

<ul>
  <li class="listitem">
    <span class="fixedwidth">Food</span>
    <span class="centered">Quantity</span>
    <span class="centered">Value</span>
    <span class="centered">Actions</span>
  </li>

  <% @recipe_foods.each do |recipe_food| %>
  <li class="listitem">

    <span class="fixedwidth">
      <%@foods.each do |food|%>
        <%if food.id == recipe_food.food_id%>
          <%=food.name%>
        <%end%>
      <%end%>
    </span>

    <span class="centered"><%= recipe_food.quantity %></span>
    
    <span class="centered">
      <%@foods.each do |food|%>
        <%if food.id == recipe_food.food_id%>
          <%= recipe_food.quantity * food.price%></span>
        <%end%>
      <%end%>
    <span class="centered"><%= link_to "Modify", "/recipes/:recipe_id//recipe_foods/edit/#{recipe_food.id}" %><%= link_to "Delete", "/recipe_foods/#{recipe_food.id}", data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %></span>
  </li>
<% end %>